<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Intelli-shop</title>
    <link rel="stylesheet" href="../styles/intro.css" />
  </head>
  <body>
    <div class="container">
      <div class="principal"></div>
      <div class="floor"></div>
      <div class="trees">
        <div class="tree">
          <div class="trunk"></div>
          <div class="leaf1"></div>
          <div class="leaf2"></div>
        </div>
        <div class="tree">
          <div class="leaf1"></div>
          <div class="leaf2"></div>
          <div class="trunk"></div>
        </div>
      </div>
    </div>
  </body>
</html>
