<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Intelli-shop</title>
    <link rel="stylesheet" href="../styles/intro.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="cycle">
      <div class="cont-rotate">
        <div class="day">
          <div class="sun"></div>
          <div class="cloud c1"></div>
          <div class="cloud c2"></div>
        </div>
        <div class="night">
          <div class="moon"></div>
          <div class="star p1"></div>
          <div class="star p2"></div>
          <div class="star p3"></div>
          <div class="star p4"></div>
          <div class="star p5"></div>
          <div class="star p6"></div>
          <div class="star p7"></div>
          <div class="star p8"></div>
          <div class="star p9"></div>
          <div class="star p10"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="front">
        <div class="block-4">
          <div class="door"></div>
          <div class="w-c"></div>
          <div class="w-t-d"></div>
          <div class="roof-top"></div>
        </div>
        <div class="block-1">
          <div class="w-t-3-1"></div>
          <div class="w-t-3-2"></div>
          <div class="w-t-2-1"></div>
          <div class="w-t-2-2"></div>
          <div class="w-t-1-1"></div>
          <div class="tree">
            <div class="door"></div>
            <div class="c-1"></div>
            <div class="trunk"></div>
          </div>
        </div>
        <div class="block-2">
          <div class="letter">
            <div class="lettext">
              -
            </div>
          </div>
          <div class="logo-window">
            <img src="../images/logo-defined.png" />
            <div></div>
          </div>
          <div class="w-t-2-1"><div></div></div>
          <div class="w-t-2-2"><div></div></div>
          <div class="w-t-2-3"><div></div></div>
          <div class="w-t-1-1"><div></div></div>
          <div class="w-t-1-2"><div></div></div>
          <div class="door"></div>
        </div>
        <div class="block-3">
          <div class="door"></div>
          <div class="w-d-l"></div>
          <div class="w-t-1"></div>
          <div class="w-t-2"></div>
          <div class="funnel"></div>
          <div class="roof-top"></div>
          <div class="hanging-bar"></div>
        </div>
        <div class="block-5">
          <div class="door"></div>
          <div class="w-d-r"></div>
          <div class="w-d-l"></div>
          <div class="w-t-1"></div>
          <div class="w-t-2"></div>
          <div class="w-t-3"></div>
          <div class="tank">
            <div class="top"></div>
            <div class="body"></div>
            <div class="stand"></div>
          </div>
          <div class="level-2">
            <div class="w-1"></div>
            <div class="w-2"></div>
            <div class="w-3"></div>
          </div>
          <div class="tree">
            <div class="c-1"></div>
            <div class="trunk"></div>
          </div>
        </div>
      </div>
      <div class="land"></div>
    </div>
  </body>
</html>
