<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Log In</title>
    <link rel="stylesheet" href="../styles/login.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form action="sale.html" class="form" onsubmit="return submitdata()">
      <div class="head">
        <img src="../images/logo-defined.png" />
      </div>

      <div class="input_contain">
        <input type="text" required="" id="email" />
        <span class="light"></span>
        <span class="icon"><i class="fa fa-user"></i></span>
        <label for="">Correo</label>
      </div>

      <div class="input_contain">
        <input type="password" required="" id="password" />
        <span class="light"></span>
        <span class="icon"><i class="fa fa-lock"></i></span>
        <label for="">Contraseña</label>
      </div>

      <div id="print"></div>
      <button>
        <i class="fas fa-sign-in-alt"></i>
        Iniciar sesión
      </button>

      <a href="signin.html">Crear cuenta</a>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/login.js"></script>
  </body>
</html>
