<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign In</title>
    <link rel="stylesheet" href="../styles/signin.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form class="form" onsubmit="return submitdata()" action="login.html">
      <div class="head">
        <img src="../images/Untitled (1).png" />
      </div>

      <div class="input_contain">
        <input type="text" required id="name" />
        <span class="light"></span>
        <span class="icon"><i class="fa fa-user"></i></span>
        <label for="">Nombre</label>
      </div>

      <div class="input_contain">
        <input type="text" required id="email" />
        <span class="light"></span>
        <span class="icon"><i class="fa fa-envelope"></i></span>
        <label for="">Correo</label>
      </div>

      <div class="input_contain">
        <input type="password" required id="password" />
        <span class="light"></span>
        <span class="icon"><i class="fa fa-lock"></i></span>
        <label for="">Contraseña</label>
      </div>

      <div class="input_contain">
        <input type="password" required id="confirm" />
        <span class="light"></span>
        <span class="icon"><i class="fa fa-lock"></i></span>
        <label for="">Confirmar contraseña</label>
      </div>
      <div class="input_contain">
        <input type="text" required="false" id="imgURL" />
        <span class="light"></span>
        <span class="icon"><i class="far fa-image"></i></span>
        <label for="">Url de imagen</label>
      </div>
      <div id="print"></div>

      <button>
        <i class="fas fa-user-plus"></i>
        Registrarse
      </button>

      <a href="login.html">¿Ya tienes cuenta?</a>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="../scripts/signin.js"></script>
  </body>
</html>
